.form-item {
  position: relative;
  margin-bottom: 15px;
}


.form-input {
  display: block;
  height: 40px;
  background: transparent;
  border: solid 2px #ccc;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  outline: none;
  font-size: 16px;

  transition: all .3s ease;
}

.form-label {
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2px;
  padding-right: 2px;
  color: #999;


  transition: all .3s ease;
}

.form-input:focus + .form-label,
.form-input:valid + .form-label {
  font-size: 12px;
  top: -5px;
}

.form-input:focus + .form-label {
  color: rosybrown;
}

.form-input:focus  {
  border-color: rosybrown;
}

