import * as S from './styles.css'

export type {{pascalCase name}}Props = {
  children: React.ReactNode
}

const {{pascalCase name}} = ({children}: {{pascalCase name}}Props) => (
  <div>
    <h1>{children}</h1>
  </div>
)

export default {{pascalCase name}}